<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <!-- 日志存放目录 -->
  <variable name="logDirectory" value="d:\\logs\\"/>
  <targets>
    <target name="messageLog" xsi:type="AsyncWrapper">
      <target name="logfile" xsi:type="File" fileName="${logDirectory}\\NDisconfLog\\${shortdate}.log" />
    </target>
    <target name="console" layout="${longdate} ${message} ${exception:format=tostring}" type="ColoredConsole"></target>
    <target name="fullLog" xsi:type="AsyncWrapper">
      <target name="logfile" xsi:type="File" fileName="${logDirectory}\\all\\${shortdate}.log" />
    </target>
  </targets>
  <rules>
    <logger name="NDisconfLog_*"  writeTo="messageLog,console"  final="true" />
    <logger name="*"  writeTo="fullLog"/>
  </rules>
</nlog>